
<div class="badger-left badger-success" data-badger="TABLE">
  <div ng-repeat="card in game.played" class="card {{card.suit.toLowerCase()}}-card">{{card.number}}</div>
  <div id="stats">
    <p>Lives: <span class="glyphicon glyphicon-heart" ng-repeat="live in range(game.numLives) track by $index"></span>
    <p>Hints: <span class="glyphicon glyphicon-time" ng-repeat="hint in range(game.numHints) track by $index"></span>
  </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div ng-repeat="player in game.players">
            <div ng-if="player.name != alias" class="badger-left badger-info" data-badger="{{player.name}}">
              <div ng-repeat="card in player.hand" class="card {{card.suit.toLowerCase()}}-card">{{card.number}}</div>
            </div>
            <div ng-if="player.name == alias" class="badger-left badger-info" data-badger="{{player.name}} (you)">
              <div ng-repeat="card in player.hand" class="card {{getSuitFromKnownSuit(card.knownSuit)}}-card">{{getNumberFromKnowNumber(card.knowNumber, card.number)}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default status-board">
            <p><strong>{{game.currentPlayer}}'s Turn</strong></p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group player-actions">
                    <button class="btn btn-success" ng-class="{'active': option == 'playCard'}" ng-click="changeAction('playCard')" ng-disabled="game.currentPlayer != alias">Play</button>
                    <button class="btn btn-danger" ng-class="{'active': option == 'discardCard'}" ng-click="changeAction('discardCard')" ng-disabled="game.currentPlayer != alias">Discard</button>
                    <button class="btn btn-warning" ng-class="{'active': option == 'giveHint'}" ng-click="changeAction('giveHint')" ng-disabled="game.currentPlayer != alias || game.numHints == 0">Hint</button>
                </div>
            </div>
            <ul class="list-group" ng-if="option != ''">
                <li class="list-group-item" ng-if="option == 'playCard'">
                    <p>Choose a card to play:</p>
                    <div class="btn-group">
                      <button ng-repeat="card in game.players[playerPos].hand" type="button" class="btn btn-default" ng-class="{'btn-success': playForm.cardIndex == $index + 1}" ng-click="selectPlayCard($index+1)">{{$index + 1}}</button>
                    </div>
                    <button class="btn btn-primary" ng-disabled="playForm.cardIndex == -1" ng-click="submitPlayCard()">Play Card</button>
                </li>
                <li class="list-group-item" ng-if="option == 'discardCard'">
                    <p>Choose a card to discard:</p>
                    <div class="btn-group">
                      <button ng-repeat="card in playerCards" type="button" class="btn btn-default" ng-class="{'btn-danger': discardForm.cardIndex == $index + 1}" ng-click="selectDiscardCard($index+1)">{{$index + 1}}</button>
                    </div>
                    <button class="btn btn-primary" ng-disabled="discardForm.cardIndex == -1" ng-click="submitDiscardCard()">Discard Card</button>
                </li>
                <li class="list-group-item" ng-if="option == 'giveHint'">
                    <p>Choose a player:</p>
                    <div class="btn-group-vertical">
                      <button ng-repeat="player in game.players" type="button" class="btn btn-default" ng-class="{'btn-warning': hintForm.toName == player.name}" ng-click="selectHintToName(player.name)" ng-if="player.name != alias">{{player.name}}</button>
                    </div>
                    <p>Choose a number or colour:</p>
                    <div class="btn-group">
                      <button ng-repeat="i in range(5) track by $index" type="button" class="btn btn-default" ng-class="{'btn-warning': hintForm.hint == $index + 1}" ng-click="selectHint($index+1, 'number')" ng-disabled="!canHintPlayer(hintForm.toName, $index + 1, 'number')">{{$index + 1}}</button>
                    </div>
                    <div class="btn-group">
                      <button ng-repeat="suit in allColours" type="button" class="btn btn-default hint-btn" ng-class="{'btn-warning': hintForm.hint == suit}" ng-click="selectHint(suit, 'suit')" ng-disabled="!canHintPlayer(hintForm.toName, suit, 'suit')">
                        <div class="hint-box {{suit.toLowerCase()}}-card"}></div>
                      </button>
                    </div>
                    <button class="btn btn-primary" ng-disabled="hintForm.hint == null || hintForm.toName == null || hintForm.hintType == null" ng-click="submitHint()">Give Hint</button>
                </li>
            </ul>
        </div>
    </div>
</div>