.player-actions {
	left: 50%;
	margin: 0 0 0 -88px;
}

.status-board {
	padding: 10px;
}

.btn-group, .btn-group-vertical {
	margin-bottom: 10px;
}

.btn.disabled, .btn[disabled] {
	cursor: not-allowed
}

.discard-card {
	color: black;
}

#discard-pile li {
	padding-top: 3px;
	padding-bottom: 3px;
}

#stats {
    float: left;
}

#stats p {
    margin: 0 0 0 3px;
}

#stats span {
    margin: 0 1px;
}
