<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hanabi Isotropic</title>
  <meta name="description" content="Hanabi Isotropic By Tim Pei and Curtis Kroetsch">
  <meta name="author" content="Tim Pei">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/socket/game/1');
    socket.on('connect', function() {
        alert("Connected!")
    });
</script>
<body>
</body>
</html>