<!doctype html>

<html lang="en" ng-app="hanabi">
  <head>
    <meta charset="utf-8">

    <title>Hanabi Isotropic</title>
    <meta name="description" content="Hanabi Isotropic By Tim Pei and Curtis Kroetsch">
    <meta name="author" content="Tim Pei">

    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/chat.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/directives.js"></script>
    <script type="text/javascript" src="/static/js/services.js"></script>
  </head>
  <body ng-controller="baseController">
    <div class="container">
      <h1>Hanabi</h1>
      <div ng-switch on="appState">
        <div ng-switch-when="menu" x-home-menu ng-controller="homeMenuController"></div>
        <div ng-switch-when="game" x-game ng-controller="gameController"></div>
      </div>
    </div>
  </body>
</html>